.clear {
  clear: both;
  content: "";
}
.my-carousel-item {
  background-color: #feeae9;
  /* border-radius: 20px; */
}
.my-carousel-sec {
  margin-top: 150px !important;
}
.my-carousel-item .my-carousel-item > div > p {
  text-align: justify;
}

.my-carousel-item > div > h2 {
  color: #ec2086;
}

.btn {
  background-color: #ec2086;
  color: white;
}

/* category */
.category {
}
.c-watch,
.c-bag,
.c-shoes {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 30px;
  color: white;
}
.row img {
  width: 100px;
}
.c-watch {
  background-color: orange;
}
.c-bag {
  background-color: #ec2086;
}
.c-shoes {
  background-color: blue;
}
.card {
  box-shadow: 0px 0px 20px 0px #32313175;
}

/* contact us  */
.contact-us {
  width: 100%;
  height: 400px;
  background-color: #feeae9;
  padding: 0px 50px;
  border-radius: 10px;
}
.contact-us h1 {
  text-transform: uppercase;
  font-weight: 500;
}
input[type="email"] {
  width: 400px;
  margin: auto;
}
.cnfrm {
  width: 350px;
  text-align: center;
  align-items: center;
  margin: auto;
}
